<!DOCTYPE HTML>
<html>
<head> 
    <meta charset="UTF-8">
	<title>TODO: Title goes here</title>
	<meta name="description" content="TODO: description goes here ">
    <!-- linking a css style sheet -->
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="/static/css/AmandaTemplate.css">
   </head>
<body>	
    <div class="container">
        <div class="header">
            <h1><span>(Pylot) </span> Book deatil</h1>
            <h3>Assigment - optional</h3>
            <div class="descr">
                <p>Assigment description: </p>
            </div>
        </div><!-- end of header content-->
        <div class="maincontent">
            <div class="row">
            <p style="text-align:right"> Welcome: <span class="boldme">{{ session['name']}}</span> - ({{ session['id']}}) - <a href="/dashboard">Home</a> - <a href="/logout">Logout</a></p>
            </div>
                <div class="column">
                <div class="row"><h3>Book Title</h3></div>
                <div class="row"><p>Author: </p></div>
                <div class="row"><h3>Reviews: </h3></div>
                {% if reviews %}
                    {% for review in reviews %}
                        <hr align="left" width="75%">
                        <div class="row"><p>Rating: </p></div>
                        <div class="row"><a href="">Author</a> review </div>
                        <div class="ros"><p>Posted on: </p></div>
                        {% if reviewer %}
                            <a href="">Delete review</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="column">
                <form action="/addReview" method="POST">
                    <div class="row"><h3>Add a Review:</h3></div>
                    <div class="row"><p><input type="text" name="review"></p></div>
                    <div class="row"><p>Rating: 
                    <select>
                        <option>5</option>
                        <option>4</option>
                        <option selected>3</option>
                        <option>2</option>
                        <option>1</option>
                    </select>
                    stars.</p>
                    </div>
                    <div class="row"><input type="submit" value="Submit Review"=></div>
                </form>
            </div>
        </div><!-- end of main content-->
        <div class="footer">
            <p>created by: Amanda Fry</p>
            <a class="footerSpace" href="mailto:FeAmandaF@hotmail.com">FeAmandaF@hotmail.com</a>
            <a href="https://www.linkedin.com/in/amandafry1">Amanda's LinkedIn profile</a>
        </div><!-- end of footer -->
      </div><!-- end of container -->
</body>
</html>
