<!DOCTYPE HTML>
<html>
<head> 
    <meta charset="UTF-8">
	<title>TODO: Title goes here</title>
	<meta name="description" content="TODO: description goes here ">
    <!-- linking a css style sheet -->
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="/static/css/AmandaTemplate.css">
   </head>
<body>	
    <div class="container">
        <div class="header">
            <h1><span>(Pylot) </span> User Details</h1>
            <h3>Assigment - optional</h3>
            <div class="descr">
                <p>Assigment description: </p>
            </div>
        </div><!-- end of header content-->
        <div class="maincontent">
            <div class="row">
            <p style="text-align:right"> Welcome: <span class="boldme">{{ session['name']}}</span> - ({{ session['id']}}) - <a href="/dashboard">Home</a> - <a href="/logout">Logout</a></p>
            </div>
            <div class="row"><h3>User Alias: </h3></div>
            <div class="row"><p>Name: </p></div>
            <div class="row"><p>Email: </p></div>
            <div class="row"><p>Total Reviews: </p></div>
            <div class="row"><h3>Posted Reviews on the following books: </h3></div>
            {% if myreviews %}
                {% for myre in myreviews %}
                    <div class="row"><p><a href="">my review</a></p></div><a href="/addBooks">Add Book with Review</a> - 
                {% endfor %}
            {% endif %}
        </div><!-- end of main content-->
        <div class="footer">
            <p>created by: Amanda Fry</p>
            <a class="footerSpace" href="mailto:FeAmandaF@hotmail.com">FeAmandaF@hotmail.com</a>
            <a href="https://www.linkedin.com/in/amandafry1">Amanda's LinkedIn profile</a>
        </div><!-- end of footer -->
      </div><!-- end of container -->
</body>
</html>
